body
{
    padding: 20px;
    margin: 20px;
}
h1
{
    text-transform: uppercase;
    font-size: 30px;
}

p::first-letter
{
    text-transform: uppercase;
}

a:hover
{
    text-decoration: none;
    opacity: 0.5;
    
}
a
{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    text-align: center;
}

#primary-list
{
    list-style: none;
    text-align: center;
}

img
{
    display: block;
    margin: auto;
    max-width: 150px;
}
.banner
{
    background-image: url(./images/Background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
    padding: 40px;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-banner{
    font-size: 25px;
}
.hide{
    display: none;
}
.nav{
    position: sticky;
    top: 0;
    z-index: 5;
}

